n8n/myassist_unified.json
{
  "name": "MyAssist - Daily Context",
  "nodes": [
    {
      "parameters": {
        "path": "myassist-daily-context",
        "responseMode": "lastNode",
        "options": {
          "responseContentType": "application/json"
        }
      },
      "id": "8143d19a-9cb4-458e-9430-ecd6314402b7",
      "name": "Webhook - Fetch Daily Context",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -544,
        208
      ],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "notesInFlow": true,
      "notes": "GET production URL: /webhook/myassist-daily-context when workflow is active. Respond: When Last Node Finishes, First Entry JSON. Same graph as Cron; use for MyAssist web app."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "2f2486e0-997c-4b0c-99eb-9a63234821f7",
      "name": "Cron - 01:00 Local",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -544,
        400
      ],
      "notesInFlow": true,
      "notes": "Runs each day at 01:00 local server time. Adjust in node settings if needed."
    },
    {
      "parameters": {
        "url": "https://api.todoist.com/api/v1/tasks",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "200"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 6cce6a2513d8a943d73a7e8def0cb007abeb918a"
            }
          ]
        },
        "options": {}
      },
      "id": "21b74447-81ea-435b-abd6-0d89ba037e3b",
      "name": "Todoist - Get Active Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        0
      ],
      "notesInFlow": true,
      "notes": "authentication=None + header only: avoids duplicate Authorization if a Bearer/Header credential was also attached. Token: $vars.TODOIST_API_TOKEN or attach Header Auth and clear this header in UI. Query limit=200 (API max per page)."
    },
    {
      "parameters": {
        "jsCode": "const todoistPayload = $items('Todoist - Get Active Tasks', 0, 0)[0]?.json;\nconst todoistRaw = Array.isArray(todoistPayload)\n  ? todoistPayload\n  : (Array.isArray(todoistPayload?.results)\n    ? todoistPayload.results\n    : (Array.isArray(todoistPayload?.items) ? todoistPayload.items : []));\nconst gmailRaw = $items('Gmail', 0, 0).map(i => i.json);\nconst calRaw = $items('Google Calendar - Moi', 0, 0).map(i => i.json);\n\nconst today = new Date();\nconst y = today.getFullYear();\nconst m = String(today.getMonth() + 1).padStart(2, '0');\nconst d = String(today.getDate()).padStart(2, '0');\nconst todayStr = `${y}-${m}-${d}`;\n\nconst tasks = todoistRaw;\nconst overdue = [];\nconst dueToday = [];\nconst upcomingHigh = [];\n\nconst addDays = (dateStr, days) => {\n  const base = new Date(`${dateStr}T00:00:00Z`);\n  base.setUTCDate(base.getUTCDate() + days);\n  return base.toISOString().slice(0, 10);\n};\n\nconst dateOnly = (value) => {\n  if (!value) return null;\n  const text = String(value).trim();\n  if (!text) return null;\n  return text.includes('T') ? text.slice(0, 10) : text;\n};\n\nconst taskDeadlineDate = (t) => dateOnly(t?.deadline?.date || t?.deadline_date || null);\nconst taskDueDate = (t) => dateOnly(t?.due?.date || t?.due?.datetime || null);\nconst effectiveUrgencyDate = (t) => taskDeadlineDate(t) || taskDueDate(t);\nconst hasDeadline = (t) => Boolean(taskDeadlineDate(t));\nconst deadlineSoonCutoff = addDays(todayStr, 3);\nconst deadlineWeekCutoff = addDays(todayStr, 7);\n\nfor (const t of tasks) {\n  const due = taskDueDate(t);\n  const urgency = effectiveUrgencyDate(t);\n  const p = Number(t?.priority || 4);\n\n  if (urgency && urgency < todayStr) {\n    overdue.push(t);\n  } else if (urgency === todayStr) {\n    dueToday.push(t);\n  } else if (hasDeadline(t) && urgency && urgency <= deadlineSoonCutoff) {\n    dueToday.push(t);\n  } else if ((hasDeadline(t) && urgency && urgency <= deadlineWeekCutoff) || (!due && p <= 2)) {\n    upcomingHigh.push(t);\n  }\n}\n\nconst cleanText = (value) => String(value ?? '')\n  .replace(/[\\u200B-\\u200D\\uFEFF]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst collectHeaders = (g) => {\n  const out = [];\n  const visit = (payload) => {\n    if (!payload || typeof payload !== 'object') return;\n    if (Array.isArray(payload.headers)) {\n      for (const h of payload.headers) {\n        if (h && (h.name != null) && ('value' in h || h.value != null)) {\n          out.push({ name: String(h.name), value: String(h.value ?? '') });\n        }\n      }\n    }\n    if (Array.isArray(payload.parts)) {\n      for (const p of payload.parts) visit(p);\n    }\n  };\n  if (g && typeof g === 'object') {\n    visit(g.payload);\n    if (Array.isArray(g.headers)) {\n      for (const h of g.headers) {\n        if (h && h.name != null) out.push({ name: String(h.name), value: String(h.value ?? '') });\n      }\n    }\n    if (g.headers && typeof g.headers === 'object' && !Array.isArray(g.headers)) {\n      for (const k of Object.keys(g.headers)) {\n        out.push({ name: k, value: String(g.headers[k] ?? '') });\n      }\n    }\n  }\n  return out;\n};\n\nconst readHeader = (g, name) => {\n  const want = String(name).toLowerCase();\n  const headers = collectHeaders(g);\n  const found = headers.find(h => String(h.name || '').toLowerCase() === want);\n  return found ? String(found.value || '').trim() : '';\n};\n\nconst subjectFromSnippet = (snippet) => {\n  const rawFirst = String(snippet ?? '').split(/[\\r\\n]+/)[0]?.trim() ?? '';\n  if (!rawFirst) return '';\n  const line = cleanText(rawFirst);\n  if (!line) return '';\n  return line.length > 120 ? `${line.slice(0, 117)}...` : line;\n};\n\nconst gmailSignals = gmailRaw.map(g => {\n  const snippet = cleanText(g.snippet || g.Snippet || '');\n  const from = cleanText(g.from || g.From || readHeader(g, 'from') || '');\n  let subject = cleanText(g.subject || g.Subject || readHeader(g, 'subject'));\n  if (!subject) subject = subjectFromSnippet(snippet);\n  if (!subject) subject = '(no subject)';\n\n  return {\n    id: g.id || null,\n    threadId: g.threadId || null,\n    from,\n    subject,\n    snippet,\n    date: g.internalDate || g.date || ''\n  };\n});\n\nconst calendarToday = calRaw.map(e => ({\n  id: e.id || null,\n  summary: e.summary || '(no title)',\n  start: e.start?.dateTime || e.start?.date || null,\n  end: e.end?.dateTime || e.end?.date || null,\n  location: e.location || null\n}));\n\nreturn [{\n  json: {\n    generated_at: new Date().toISOString(),\n    run_date: todayStr,\n    todoist_overdue: overdue,\n    todoist_due_today: dueToday,\n    todoist_upcoming_high_priority: upcomingHigh.slice(0, 10),\n    gmail_signals: gmailSignals,\n    calendar_today: calendarToday\n  }\n}];\n"
      },
      "id": "2d930aa3-6ba2-4122-a4ec-27bce79bc14d",
      "name": "Normalize Aggregated Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        304
      ],
      "notesInFlow": true,
      "notes": "Terminal output: normalized JSON for Custom GPT (MyAssist Operator). No in-n8n LLM."
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "pilotmontreal@gmail.com"
        },
        "options": {
          "orderBy": "startTime"
        }
      },
      "id": "638a1e22-e737-49fc-ba81-2b1272509eb0",
      "name": "Google Calendar - Moi",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -96,
        400
      ],
      "notesInFlow": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "sDZKM7LxIdXux2Ka",
          "name": "Google Calendar account"
        }
      },
      "notes": "Calendar ID set by email (not primary) so re-import keeps the correct calendar. Change value if the account differs."
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "familleduchesneaufortier@gmail.com",
          "mode": "id"
        },
        "options": {
          "orderBy": "startTime"
        }
      },
      "id": "63d0eae7-ca31-44a0-a4e3-31ae489e925b",
      "name": "Google Calendar - Famille",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -96,
        608
      ],
      "notesInFlow": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "sDZKM7LxIdXux2Ka",
          "name": "Google Calendar account"
        }
      },
      "notes": "Calendar ID set by email (not primary) so re-import keeps the correct calendar. Change value if the account differs."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -320,
        304
      ],
      "id": "d3ecf036-2511-4b60-819d-51f77fa731c1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {
          "includeSpamTrash": false,
          "q": "newer_than:14d",
          "readStatus": "both"
        }
      },
      "id": "4c751ed4-1b4a-4d11-a7c0-18d0aed8f946",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -96,
        208
      ],
      "notesInFlow": true,
      "webhookId": "2c032bd6-9b6e-4d01-8556-670fd5b372d6",
      "credentials": {
        "gmailOAuth2": {
          "id": "LLuljZU8QOWlM86o",
          "name": "Gmail account"
        }
      },
      "notes": "Read both unread and read mail. Query now targets recent mail using newer_than:14d."
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "03e7f23a-d7ee-4654-8a15-944403c53139",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        128,
        288
      ],
      "notesInFlow": true,
      "notes": "Append mode: concat streams so 0 Gmail messages does not drop the Todoist branch (combineAll would output 0 items)."
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Fetch Daily Context": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron - 01:00 Local": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist - Get Active Tasks": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Moi": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Calendar - Famille": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Todoist - Get Active Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Calendar - Moi",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Calendar - Famille",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Normalize Aggregated Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "72c53542-6026-4216-88f4-482dc3be244e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45d6454d3a3031083bb41524a48f1be407b086102fef16fd4f3d6add6abfb663"
  },
  "id": "myassist-workflow-b",
  "tags": []
}