n8n/myassist_unified.json
{
  "name": "MyAssist - Daily Context (normalized JSON)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "myassist-daily-context",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "authentication": "none",
        "options": {
          "responseContentType": "application/json"
        }
      },
      "id": "webhook_daily",
      "name": "Webhook - Fetch Daily Context",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        360
      ],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "notesInFlow": true,
      "notes": "GET production URL: /webhook/myassist-daily-context when workflow is active. Respond: When Last Node Finishes, First Entry JSON. Same graph as Cron; use for MyAssist web app."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron_daily",
      "name": "Cron - 01:00 Local",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        360
      ],
      "notesInFlow": true,
      "notes": "Runs each day at 01:00 local server time. Adjust in node settings if needed."
    },
    {
      "parameters": {
        "authentication": "none",
        "method": "GET",
        "url": "https://api.todoist.com/api/v1/tasks",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "200"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + String(($vars || {}).TODOIST_API_TOKEN ?? '').trim().replace(/^Bearer\\s+/i, '') }}"
            }
          ]
        },
        "sendBody": false,
        "options": {}
      },
      "id": "todoist_tasks",
      "name": "Todoist - Get Active Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        200
      ],
      "notesInFlow": true,
      "notes": "authentication=None + header only: avoids duplicate Authorization if a Bearer/Header credential was also attached. Token: $vars.TODOIST_API_TOKEN or attach Header Auth and clear this header in UI. Query limit=200 (API max per page)."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 20,
        "simple": true,
        "filters": {
          "q": "label:starred newer_than:7d",
          "readStatus": "both",
          "includeSpamTrash": false
        }
      },
      "id": "gmail_signals",
      "name": "Gmail - Get Starred Signals",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        500,
        360
      ],
      "notesInFlow": true,
      "notes": "readStatus=both: starred mail is often already read; default unread would return empty until the node was reopened. Query still uses label:starred."
    },
    {
      "parameters": {
        "resource": "event",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "pilotmontreal@gmail.com"
        },
        "operation": "getAll",
        "options": {
          "timeMin": "={{$now.startOf('day').toISO()}}",
          "timeMax": "={{$now.endOf('day').toISO()}}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "calendar_today",
      "name": "Google Calendar - Today Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        500,
        520
      ],
      "notesInFlow": true,
      "notes": "Calendar ID set by email (not primary) so re-import keeps the correct calendar. Change value if the account differs."
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge_todoist_gmail",
      "name": "Merge Todoist + Gmail",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        760,
        280
      ],
      "notesInFlow": true,
      "notes": "Append mode: concat streams so 0 Gmail messages does not drop the Todoist branch (combineAll would output 0 items)."
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge_with_calendar",
      "name": "Merge With Calendar",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        900,
        400
      ],
      "notesInFlow": true,
      "notes": "Append: fan-in Calendar with prior branch; empty calendar still passes prior items."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const todoistPayload = $items('Todoist - Get Active Tasks', 0, 0)[0]?.json;\nconst todoistRaw = Array.isArray(todoistPayload)\n  ? todoistPayload\n  : (Array.isArray(todoistPayload?.results)\n    ? todoistPayload.results\n    : (Array.isArray(todoistPayload?.items) ? todoistPayload.items : []));\nconst gmailRaw = $items('Gmail - Get Starred Signals', 0, 0).map(i => i.json);\nconst calRaw = $items('Google Calendar - Today Events', 0, 0).map(i => i.json);\n\nconst today = new Date();\nconst y = today.getFullYear();\nconst m = String(today.getMonth() + 1).padStart(2, '0');\nconst d = String(today.getDate()).padStart(2, '0');\nconst todayStr = `${y}-${m}-${d}`;\n\nconst tasks = todoistRaw;\nconst overdue = [];\nconst dueToday = [];\nconst upcomingHigh = [];\n\nfor (const t of tasks) {\n  const due = t?.due?.date || null;\n  const p = Number(t?.priority || 4);\n  if (due && due < todayStr) overdue.push(t);\n  else if (due === todayStr) dueToday.push(t);\n  else if (!due && p <= 2) upcomingHigh.push(t);\n}\n\nconst gmailSignals = gmailRaw.map(g => ({\n  id: g.id || null,\n  threadId: g.threadId || null,\n  from: g.from || g.payload?.headers?.find(h => String(h.name).toLowerCase() === 'from')?.value || '',\n  subject: g.subject || g.payload?.headers?.find(h => String(h.name).toLowerCase() === 'subject')?.value || '',\n  snippet: g.snippet || '',\n  date: g.internalDate || g.date || ''\n}));\n\nconst calendarToday = calRaw.map(e => ({\n  id: e.id || null,\n  summary: e.summary || '(no title)',\n  start: e.start?.dateTime || e.start?.date || null,\n  end: e.end?.dateTime || e.end?.date || null,\n  location: e.location || null\n}));\n\nreturn [{\n  json: {\n    generated_at: new Date().toISOString(),\n    run_date: todayStr,\n    todoist_overdue: overdue,\n    todoist_due_today: dueToday,\n    todoist_upcoming_high_priority: upcomingHigh.slice(0, 10),\n    gmail_signals: gmailSignals,\n    calendar_today: calendarToday\n  }\n}];"
      },
      "id": "normalize_all",
      "name": "Normalize Aggregated Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        360
      ],
      "notesInFlow": true,
      "notes": "Terminal output: normalized JSON for Custom GPT (MyAssist Operator). No in-n8n LLM."
    }
  ],
  "connections": {
    "Webhook - Fetch Daily Context": {
      "main": [
        [
          {
            "node": "Todoist - Get Active Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Get Starred Signals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Calendar - Today Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron - 01:00 Local": {
      "main": [
        [
          {
            "node": "Todoist - Get Active Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Get Starred Signals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Calendar - Today Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist - Get Active Tasks": {
      "main": [
        [
          {
            "node": "Merge Todoist + Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Get Starred Signals": {
      "main": [
        [
          {
            "node": "Merge Todoist + Gmail",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Todoist + Gmail": {
      "main": [
        [
          {
            "node": "Merge With Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Today Events": {
      "main": [
        [
          {
            "node": "Merge With Calendar",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge With Calendar": {
      "main": [
        [
          {
            "node": "Normalize Aggregated Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5da20f3b-9e89-415a-beec-c95f4fa55544",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "myassist-workflow-b",
  "tags": []
}
